
$color-primary: #6200ee;
$color-secondary: #03DAC5;
$color-error: #f44336;
$color-warning: #ffb74d;
$color-info: #64b5f6;
$color-success: #81c784;

$color-border: #e7e9ec;
$color-font-normal: #272727;

$font-size-large: 22px;
$font-size-medium: 18px;
$font-size-small: 14px;
$font-size-mini: 12px;

